/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  margin: auto;
  padding: 0 50px
    /*50px par défaut, remplacer par 30 pour que mon écran=maquette*/;
  max-width: 1440px;
  min-width: 1024px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******header et formulaire recherche********/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

header img {
  width: 61.09px;
  height: 19px;
  padding-top: 20px;
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5em;
}

header nav div {
  padding-top: 10px;
  border-top: solid transparent;
}

header nav div:hover {
  color: #0065fc;
  border-top: solid #0065fc;
}

.titre-recherche {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  gap: 8px;
}

.titre-recherche h1,
.titre-recherche p {
  margin: 0px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.recherche {
  display: flex;
  flex-direction: row;
}

.recherche label,
.recherche button,
.recherche input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.recherche button .texte {
  display: block;
}

.recherche button .image-loupe {
  display: none;
}

.recherche label {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  height: 50px;
}

.recherche input {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 205px;
  height: 49px;
}

.recherche input:focus {
  border: 1px solid #f2f2f2;
  outline: none;
}

.recherche button {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: 132px;
  height: 49px;
}

.filtres {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
}

.filtres-recherche {
  font-size: 17px;
  height: 50px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  border: solid #d9d9d9;
  gap: 10px;
  padding: 4px 19px;
}

.economique {
  width: 173px;
}

.familial {
  width: 134px;
}

.romantique {
  width: 170px;
}

.nos-pepites {
  width: 167px;
}

.filtres-recherche:hover {
  background-color: #deebff;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 35px;
}

.icone-info {
  width: 24px;
  height: 24px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info p {
  padding-top: 5px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards .card {
  width: 235px;
  height: 207px;
}

.hebergements-cards img {
  width: 100%;
  height: /*124px*/ 60%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
  height: 40%;
  padding: 0px 15px;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 8px;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
  margin: 30px 0px;
}

.hebergements h2 {
  margin-bottom: 30px;
}

.hebergements .afficher-plus {
  font-size: 18px;
  margin-bottom: 0px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********Activités******/

.activites {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
  gap: 30px;
}

.activites h1 {
  display: flex;
}

.activites-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.activites-cards .card {
  width: 297.5px;
  height: 439px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.activites-cards img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 380px;
}

.activites-cards h3 {
  display: flex;
  margin: 19px 20px;
  justify-content: flex-start;
}

/******Footer*****/

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-around;
  padding: 20px;
}

.colonne-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

footer h3 {
  margin: 0px;
}

footer ul {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/*Large devices (pc, less-equal than 1440px) */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023.9px) and (min-width: 768px) {
  body {
    margin: 0px;
  }

  .main-container {
    max-width: 1023.9px;
    min-width: 768px;
    padding: 0px 30px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: row;
  }

  .hebergements-cards a {
    width: 30%;
  }

  .hebergements-cards .card {
    width: 268px;
    height: 207px;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 13px;
    margin-bottom: 4px;
  }

  /*.hebergements-cards {
    margin: 0px;
    gap: 0px;
    justify-content: space-between;
  } */

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
  }

  .populaires-cards .card {
    width: 264px;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards .card {
    width: 193.5px;
    height: 270px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .activites-cards img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
  body {
    margin: auto;
  }

  .main-container {
    margin: 0px;
    padding: 0px;
    max-width: 767.98px;
    min-width: 320px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  header img {
    padding-top: 30px;
  }

  header nav {
    gap: 0px;
    width: 100%;
  }

  header nav div {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 15px;
    border-bottom: solid transparent;
    font-size: 16px;
  }

  header nav div:hover {
    justify-content: center;
    color: #0065fc;
    border-bottom: solid #0065fc;
    border-top: solid transparent;
  }

  /*header nav div,
  header nav div a {
    padding-left: 50vw;  La moitié de la largeur de l'écran 
    padding-right: 50vw;  La moitié de la largeur de l'écran 
    box-sizing: border-box; Assure que la largeur totale inclut le padding 
  }*/

  .formulaire-recherche {
    padding: 0px 20px;
  }

  .recherche input {
    width: 250px;
  }

  .recherche button {
    border-radius: 15px;
    width: 20%;
  }

  .recherche button .texte {
    display: none;
  }

  .recherche button .image-loupe {
    display: block;
  }

  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtres div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filtres-recherche {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: 160px;
    font-size: 16px;
  }

  /*.filtres-recherche {
    font-size: 17px;
    height: 50px;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    border: solid #d9d9d9;
    gap: 10px;
    padding: 4px 19px;
  } */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    box-sizing: border-box;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards .card {
    width: 100%;
  }

  .hebergements {
    border-radius: 0px;
    width: 100%;
  }

  .hebergements-cards {
    flex-direction: column;
  }

  .hebergements-cards .card {
    width: 100%;
  }

  .activites {
    flex-direction: column;
    box-sizing: border-box;
  }

  .activites section {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  footer {
    flex-direction: column;
  }
}
